<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">
    
<div class="body">
    <p class="logo menu" (click)="navigateHome()">Letterdesk</p>

    <div class="pre-send-container">
        <p class="logoTEXT send" (click)="send()">   </p>
        <input class="location logoTEXT" placeholder='WHERE ARE YOU WRITING FROM?' style='text-transform:uppercase' [(ngModel)]="location">
        
        <div class="textarea-container">
            <textarea 
                class="letter" 
                id="LETTER" 
                [placeholder]="placeholderText()" 
                rows=20 
                spellcheck="false" 
                (keydown)="keyDown($event)"
                (keyup)="keyUp($event)"
                [(ngModel)]="text"
                onDrop="return false"
                onPaste="return false"
                autofocus>
            </textarea>
            <div class="textarea-size">{{text+'\n'}}</div> <!-- naturally expanding text field-->
        </div>
        
        <div id="stats" style="word-wrap: break-word;"></div>
    </div>
    
    <!--below this is the "get the link to send it" page-->
    <div class="post-send-container">
        <p id="password-button" (click)="showPasswordField()">ADD PASSWORD</p>

        <!--the class is changed to "enabled" after you click #password-button -->
        <div id="pw-set-container" class="disabled">
            <input type="password"
                id="myPassword"
                [(ngModel)]="password"
                (keyup)="passwordKeyUp($event)"
                autofocus="true"
                autocomplete="off" 
                data-lpignore="true"> <!-- data-lpignore prevents the lastpass password fill box from appearing -->
            <img id="eye" (click)="toggleEye()" src="assets/eye.png"/>
            <button type="button" id="save" (click)="savePassword()" [disabled]="!password"><span>SAVE</span></button>
        </div>

        <div class="linkbox">
            <div class="myurl">{{getUrl()}}</div>
<!--            <div class="logoTEXT copylink" (click)="copyLink()">COPY</div>-->
        </div>
        <p class="logoTEXT preview" (click)="preview()">PREVIEW</p>
        <p class="logoTEXT close" (click)="close()">CONTINUE WRITING</p>
    </div>
</div>