body {
    transition: 1.5s all ease-in-out;
}

#location {
    display: block;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 25px auto -25px auto;
    background: transparent;
    border: none;
    outline: none;
}

#textarea-container {
    position: relative;
}

#LETTER, #textarea-size {
    min-height: 25px;
    box-sizing: border-box;
    padding: 8px;
    overflow: hidden;

    font-weight: 100;
    letter-spacing: 0.06em;
    font-size: 1.4em;
    width: 50%;
    margin: 50px 25% 0px 25%;
    background: transparent;
    outline: none;
}

.letter {
    height: 100%;
    position: absolute;
    resize: none;
    border: none;
    caret-color: auto;

    /*
    "pre" or "preline" or "normal" fixes Chrome issue where
    whitespace at end of lines does not trigger a line break.
    However, it causes the text to exhibit the behavior seen with
    "pre" that is described below.
    */
    white-space: normal;
}

.hide-text-cursor {
  caret-color: transparent;
}

#textarea-size {
    visibility: hidden;

    /*
    Pre-wrap: preserve spacing and newlines, but wrap text.
    Pre: preserve spacing and newlines but don't wrap text.

    "pre" does not wrap well on Firefox, even with word-wrap:break-word.
    "pre" on Chrome works with word-wrap, but exhibits different behavior:
    Instead of entire words being moved to the next line for wrapping,
    the browser will cut words in the middle for wrapping.
    "pre-line" has Firefox issues
    */
    white-space: pre-wrap;
    /* Required for wrapping lines in Webkit,
    but not necessary in Firefox if you have white-space wrapping
    (pre-wrap, normal, pre-line) already set */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*placeholder text*/
::-webkit-input-placeholder {
    color: #c1c1c1;
}
::-moz-placeholder {
    color: #c1c1c1;
}
:-ms-input-placeholder {
    color: #c1c1c1;
}

/*send link*/
#post-send-container {
/*    border: 1px solid brown;*/
    position: fixed;
    width: 70%;
    height: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

#pre-send-container, #post-send-container {
  transition: all 1s;
}

#pre-send-container.sent {
    visibility: hidden;
    opacity: 0;
}

#post-send-container.sent {
    visibility: visible;
    opacity: 1;
}

#preview, #close {
    display: block;
    width: 200px;
    text-align: center;
    margin: 10px auto 10px auto;
}

#linkbox {
    position: relative;
    height: 50px;
    margin: 0 auto 30px auto;
    width: auto;
    display: inline-block;
}

#myurl {
    height: 100%;
    letter-spacing: 0.1em;
    padding: 16px 16px;
    border-bottom: 0.5px solid #151515;
    transition: 1s all ease-out;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

/*-----------------password styles, compose page---------------------*/
#pw-set-container {
    position: fixed;
    top: 17px;
    right: 20px;
}

#save, #password-button {
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
}

#password-button {
    position: fixed;
    font-size: 0.75em;
    top: 20px;
    right: 20px;
}

#myPassword {
    border: none;
    outline: none;
    text-align: right;
    background: transparent;
}

#eye {
    border: none;
    margin-right: 10px;
    height: 1em;
    position: relative; /*adjust position from its default layout*/
    top: 3.5px;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}


/**************** copying ****************/
#copyalert {
    margin-bottom: 15px;
}

.copied {
    color: white;
    background: #343434;
    margin-top: 4px;
}
