<div class="body">
    <div class="envelope">
        <img id=envelope-background src="assets/envelope.png"/>
        <input id="sender" type="text" name="sender" placeholder="Sender" autofocus>
        <input id="where" type="text" name="where" placeholder="Location">
        <input id="receiver" type="text" name="receiver" placeholder="Receiver">
    </div>
    
    <img id="logo" src="assets/logo_clean.png"/>
    <img id="drink" src="assets/coffee.png"/>
    
    <!--toggle between send.png and open.png-->
    <img id="send" src="assets/send.png" (click)="onClick()"/>
    
    <img id="pencil" src="assets/pencil.png"/>
    <img id="stickynotes" src="assets/stickynote.png"/>
    <img id="paperclip1" src="assets/paperclip.png"/>
    <img id="paperclip2" src="assets/paperclip.png"/>
</div>