#body {
    transition: background 2.5s, color 1.0s;
    color: black;
}

#body.typing {
    background: #2f538e;
    color: white; /*this is text color*/
}

.menu {
    width: 30%;
    text-align: center;
    margin: 8px auto;
}

.menu.typing {opacity: 0;}

#centerlogo {
    margin-top: 5%;
    text-align: center;
    font-size: 3em;
}

#cornerlogo {
    opacity: 0;
    transition: 2s all ease-in-out;
}
#cornerlogo.final {
    opacity: 1;
}

#letter {
    letter-spacing: 0.04em;
    font-size: 1.5em;
    margin: 100px auto;
    width: 50%;
    transition: font-weight 0.5s;
    white-space: pre-line; /*treat \n as a newline rather than ignoring whitespace*/
}

#wrapper {
    position: fixed;
    height: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/*--------------------------------------Details (location and clock)--------------------------*/
.details {
    position: fixed;
    opacity: 0;
    transition: color 0s, opacity 1.0s;
}
.details.typing {opacity: 1;}

#location {
    left: 20px;
    top: 20px;
}

#time {
    top: 20px;
    right: 20px;
}

#pause, #fastfor {
    color: #ffdfdf;
}

#pause {
    position: fixed;
    width: 100px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

#fastfor {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
