<div id="body" class="body" tabindex="0" (keydown)="keyDown($event)">
    <!--certain details appear only when you see the letter-->
    <p id="pause" class="button-text details"><span>SPACEBAR</span></p>
    <p id="fastfor" class="button-text details"><span>RIGHT ARROW</span></p>
    <p id="location" class="button-text details">DURHAM, NC</p>
    <p id="time" class="button-text top-right-corner details">{{getCharCount()}}</p>
    
    <!--open letter button: to move this around relative to the page, move wrapper div-->
    <div id="wrapper">
        <p id="centerlogo" class="logo-text menu">Letterdesk</p>
        <p id="about" class="button-text clickable menu" (click)="showAbout()">WHAT IS THIS?</p>
        <p id="write" class="button-text clickable menu" routerLink="/compose">WRITE A LETTER</p>
    </div>
    
    <!--the letter itself (after you open the letter)-->
    <div id="letter">{{getPartialString()}}</div>
    
    <!--certain details appear only after you see the intro letter-->
    <p id="cornerlogo" class="logo-text top-left-corner clickable" (click)="backToHome()">Letterdesk</p>
</div>