<!--these are links to Google Font CDNs-->
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">

<div class="body" tabindex="0" (keydown)="keyDown($event)">
    
    <!--certain details appear only when you see the letter-->
    <p class="logoTEXT pause details"><span>SPACEBAR</span></p>
    <p class="logoTEXT fastfor details"><span>RIGHT ARROW</span></p>
    <p class="logoTEXT location details">{{locationString}}</p>
    <p class="logoTEXT time details">{{getCharCount()}}</p>
    
    <!--open letter button: to move this around relative to the page, move wrapper div-->
    <div class="wrapper">
        <p class="logo menu">Letterdesk</p>
        <p class="logoTEXT about menu" (click)="showAbout()">WHAT IS THIS?</p>
        <p class="logoTEXT write menu"><a routerLink="/compose">WRITE A LETTER</a></p>
    </div>
    
    <!--the letter itself (after you open the letter)-->
    <div class="letter">
        <div class=letterHEADER></div>
        <div class="words">{{getPartialString()}}</div>
    </div>
    
    <!--certain details appear only after you see the intro letter-->
    <p class="cornerlogo" (click)="backToHome()">Letterdesk</p>
</div>