.body {
    background-image: url("/assets/wood1.jpg");
    background-size: 100%; /*describes width? */
}


#drink {
    position: absolute;
    left: 300px;
    top: -300px;
    width: 500px;
    transform: rotate(-20deg);
}

#pencil {
    position: absolute;
    left: 700px;
    top: -250px;
    width: 400px;
    transform: rotate(6deg)
}

#pen {
    position: absolute;
    left: 770px;
    top: -100px;
    width: 100px;
}

#seal {
    width: 65px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 1170px;
}

#seal:hover {
    border: 1.5px transparent solid;
}

#letter-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 75%;
    height: 70%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    font-family: 'Lora', serif;
    line-height: 1.5em;
    text-align: justify;
}

.letter {
    position: relative;
    margin: 50px auto;
/*    border: 1px red solid;*/
    width: 829px;
    height: 1000px;
}