
    <div class="letter">
        <img id=letter-background src="assets/paper.png"/>
        <textarea [(ngModel)]="letter.content" class=text autofocus> 
        </textarea>
    </div>
    
    <img id="logo" src="assets/logo_clean.png"/>
    <img id="drink" src="assets/coffee.png"/>
    <img id="pen" src="assets/fountainPen.png"/>
    <img id="pencil" src="assets/pencil.png"/>
    
    <!--toggle between seal_clean.png and write_clean.png-->
    <img id="seal" src="assets/seal_clean.png" (click)="onSend"/>
    