<!--these are links to Google Font CDNs-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
        
<div class="body"> <!-- since css cannot access body tag use this instead -->
    <p class="logo">
        <span style="font-size: 30px;">L</span>
        <span style="font-size: 29px;">e</span>
        <span style="font-size: 29px;">t</span>
        <span style="font-size: 28px;">t</span>
        <span style="font-size: 27px;">e</span>
        <span style="font-size: 26px;">r</span>
        <span style="font-size: 25px;">d</span>
        <span style="font-size: 24px;">e</span>
        <span style="font-size: 23px;">s</span>
        <span style="font-size: 22px;">k</span>
    </p>

    <!--the location and time appear only when you click the letter-->
    <p class="location details">Gothic Reading Room</p>
    <p class="time details"></p>
    <div class="write"><img src="assets/font.svg"></div>

    <!--open letter button-->
    <div class="wrapper">
        <div class="start foo" (click)="open()"> open </div>
    </div>

    <!--the letter itself (after you open the letter)-->
    <div class="letter">
        <div class=letterDate></div>
        <div class="words">
        </div>
    </div>
</div>