* {
    word-wrap: break-word;
}

#body {
    transition: background 2.5s, color 1.0s;
    color: black;
    outline: none;
}

#body.typing {
    background: #232223;
    color: white; /* this is text color */
}

#about {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu {transition: opacity 1s ease-in-out}
.menu.typing {
    visibility: hidden;
    opacity: 0;
}

#letter {
    letter-spacing: 0.04em;
    font-size: 1.5em;
    margin: 100px auto;
    width: 50%;
    transition: font-weight 0.5s;
    white-space: pre-wrap; /* don't compress whitespace and wrap lines */
}

#reply {
    position: fixed;
    top: 20px;
    right: 20px;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

#reply.final {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------no transition for preview--------------------------*/
/*when viewing in preview mode don't want any transitions*/
.notransition {
-webkit-transition: none !important;
-moz-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

/*--------------------------------------Details (location and clock)--------------------------*/
.details {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: color 0s, opacity 1.0s;
}
.details.typing {
    visibility: visible;
    opacity: 1;
}

#location {
    left: 20px;
    top: 20px;
}

#time {
    top: 20px;
    right: 20px;
}

#pause, #fastfor {
    color: #ffc8c8;
}

#pause {
    position: fixed;
    width: 100px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

#fastfor {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/*---------------"open" button and animation------------------*/
#wrapper {
    width: 210px;
    height: 60px;
    margin: 0 auto;

    position: fixed;
    top: 45%;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
}

#start {
    border: 0.5px solid black;
    line-height: 1.5em;
    transition: 0.6s; /*this transition is always looking for change*/
    -webkit-transition: 0.6s;

    position: relative;
    text-align: center; /*aligns text relative to start div*/
    width: 210px;
    height: auto;
    padding: 19px;
    margin: 0 auto; /*aligns start div relative to wrapper div*/
}

#start:hover {
    color: white;
    background: #232223;
}

/*--------------- password ------------------*/
#password {
    background: transparent;
    width: 7em;
    margin: 0;
    font-size: 1.25em;
    display: block;
    text-align: center;
    border: none;
    padding: 10px;
}

#enter {
    width: 11em;  /* CHANGE WIDTH FROM PX */
    padding: 10px;
    position: relative;
    border-radius: 0;
    font-size: 0.8em;
    margin: 0 auto;
    background: none;
    border: none;
    border-bottom: 0.5px solid black !important;
}

#password:focus, #enter:focus, #save:focus, #myPassword:focus {
    outline: none;
}

#pw-container {
    border: none; /* for debugging */
    position: fixed;
    width: 8.8em;
    top: 42%;
    left: 0;
    right: 0;
    margin: auto;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}
