<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">
    
<div class="body" tabindex="0" (keydown)="keyDown($event)">
    
<!--    <img class="logo logoIMAGE" src='logo.JPG'>-->
    <p class="logo menu" (click)="router.navigate(['/home'])">Letterdesk</p>
    <p class="logoTEXT about menu" (click)="router.navigate(['/home'])">WHAT IS THIS?</p>
    
    <p class="logoTEXT pause details"><span style="color: #ffc8c8;">SPACEBAR</span></p>
    <p class="logoTEXT fastfor details"><span style="color: #ffc8c8;">RIGHT ARROW</span></p>
    
    <!--the location and time appear only when you click the letter-->
    <p class="logoTEXT location details">{{locationString.toUpperCase()}}</p>
    <p class="logoTEXT time details"></p>
    
    <!--open letter button: to move this around relative to the page, move wrapper div-->
    <div class="wrapper">
        <div class="start" (click)="openLetter()"><span style="font-size: 1.1em;">O</span>PEN <span style="font-size: 1.1em;">L</span>ETTER</div>
    </div>
    
    <!--the letter itself (after you open the letter)-->
    <div class="letter">
        <div class=letterHEADER></div>
        <div class="words">{{getPartialString()}}</div>
    </div>
    
    <!--some details you can only see AFTER the letter-->
    <p class="logoTEXT postLetterWrite" (click)="openReplyWindow()">WRITE A LETTER</p>
</div>