<!-- get google fonts -->
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">

<div class="body">
    <div [hidden]="sent">
        <button (click)="onSend()">Send</button>
        <textarea id="myInput" rows=30 cols=80 (keyup)="keyup($event)" (keydown)="keydown($event)" autofocus></textarea>
    </div>

    <div [hidden]="!sent">
        <p>your letter can be found at {{url+tldId}}</p>
        <a [href]="'#/view/'+tldId"><button>view</button></a>
    </div>
</div>