<h1>The Letter Desk</h1>
<label>To:</label>
 <input [(ngModel)]="letter.id" placeholder="name">
<label>Receiver's Email:</label> <input id="sendAddress" />
<br >
<div>
<label>Message to {{letter._id}}:</label> 
</div>

<div>
<textarea [(ngModel)]="letter.content" placeholder="  [Insert letter body here]">
  
    </textarea>
</div>
<button (click)="onSend()">Send</button>


<html>
    
<head>
    <title>LetterDesk</title>
    <meta charset='UTF'>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
    
<body>

    <div class="letter">
        <img id=letter-background src="assets/paper.png"/>
        <textarea class=text autofocus> 
        </textarea>
    </div>
    
    <img id="logo" src="assets/logo_clean.png"/>
    <img id="drink" src="assets/coffee.png"/>
    <img id="pen" src="assets/fountainPen.png"/>
    <img id="pencil" src="assets/pencil.png"/>
    <img id="seal" src="assets/seal_clean.png"/>
    
</body>
    
</html>