* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    background-image: url("/assets/wood1.jpg");
}
  
  #logo {
      width: 150px;
      height: 50px;
      position: fixed;
      top: 10px;
      left: 10px; 
  }
  
  #drink {
      position: absolute;
      left: 300px;
      top: -250px;
  }
  
  #pen {
      position: absolute;
      left: 700px;
      top: -270px;
  }
  
  #pencil {
      position: absolute;
      left: 600px;
      top: -440px;
  }
  
  #seal {
      width: 65px;
      height: 40px;
      position: fixed;
      top: 15px;
      right: 20px;
  }
  
  #seal:hover {
      border: 1.5px transparent solid;
  }
  
  #letter-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .text {
      position: absolute;
      top: 100px;
      left: 100px;
      width: 75%;
      height: 70%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1.5em;
      font-family: 'Lora', serif;
      line-height: 1.5em;
      text-align: justify;
  }
  
  .letter {
      position: relative;
      margin: 50px auto;
  /*    border: 1px red solid;*/
      width: 829px;
      height: 1000px;
  }