* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ensure that all body divs take up the full screen */
.body{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    position: fixed;
    background: rgb(249,249,249);
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.clickable:hover:not([disabled]) {
    /* a clickable item should turn a color and get the pointer cursor unless disabled */
    cursor: pointer;
    color: #580000;
}

/***** text styles *****/
.logo-text { /* for the letterdesk logo */
    font-family: 'Seaweed Script', cursive;
    font-size: 1.5em;
    z-index: 5;
}

.button-text { /* for buttons such as "send letter" or "save" */
    font-family: 'Crimson Text', serif;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index: 3;
}

.body-text { /* for normal text such as the letters themselves */
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    z-index: 1;
}

/***** placement styles *****/
.top-left-corner {
    position: fixed;
    left: 20px;
    top: 15px;
}
