* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ensure that all body divs take up the full screen */
.body{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    position: fixed;    
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
